@use './partials/variables';
@use './partials/globals';

body {
    background-color: var(--very-dark-blue);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97.5vh;
}

.container {
    background-color: var(--dark-blue);
    width: 325px;
    // height: 360px;
    padding: 25px;
    border-radius: 15px;

    .star {
        // width: 15px;
        width: 42px;
        padding: 12px;
        border-radius: 50%;
        background-color: var(--medium-grey);
        margin-bottom: 15px;
    }

    h1 {
        color: var(--white);
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    p {
        color: var(--light-grey);
        font-weight: 400;
        margin-bottom: 25px;
    }

    .ratings-container {
        display: flex;
        margin-bottom: 25px;

        .rating {
            font-size: 15px;
            // min-width: 39px;
            height: 42px;
            background-color: var(--medium-grey);
            color: var(--light-grey);
            padding: 13px 15px;
            border-radius: 50%;
            margin-right: 20px;
            cursor: pointer;

            &:hover {
                background-color: var(--orange);
                color: var(--white);
            }

            &:focus {
                background-color: var(--light-grey);
                color: var(--white);
            }
        }

        &+button {
            font-size: 15px;
            font-weight: 700;
            color: var(--white);
            background-color: var(--orange);
            width: 100%;
            padding: 15px 0 12px;
            border-radius: 40px;

            &:hover {
                cursor: pointer;
                color: var(--orange);
                background-color: var(--white);
            }
        }
    }
}