html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
button {
    font-family: 'Overpass', sans-serif;
}

p {
    font-size: 15px;
}

li {
    list-style: none;
}

button {
    border-style: none;
}

h1 {
    color: var(--white);
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    color: var(--light-grey);
    font-weight: 400;
    margin-bottom: 20px;
}